@import './button.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

:root{
    --color-principal: #26B4BC;
}

body{
    background-color: var(--color-principal);
}

.wrapper{
    max-inline-size: 90rem;
    margin: auto;
}

.player{
    margin-block-start: 10rem;
    position: relative;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
}


.player-tittle{
    color: #fff;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 2rem;
}

.player-actions{
    color: #fff;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 1rem;
}

.player-progress input{
    flex: 1;
}